{# Коллекция сезонности #}

<div class="d-flex justify-content-between align-items-center gap-3">

    <button type="button"
            class="btn-outline-danger del-item-season border-0 btn"
            data-delete="item_{{ form.vars.id }}">
            <span class="svg-icon svg-icon-2 text-nowrap">
                <svg
                        xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 25 25" fill="none">
                    <rect
                            opacity="0.5" x="7.05025" y="15.5356" width="12" height="2" rx="1"
                            transform="rotate(-45 7.05025 15.5356)" fill="currentColor"></rect>
                    <rect x="8.46447"
                          y="7.05029"
                          width="12"
                          height="2" rx="1"
                          transform="rotate(45 8.46447 7.05029)"
                          fill="currentColor"></rect>
                </svg>
            </span>
    </button>

    <div class="w-100">{{ form_widget(form.month, { label : 'Месяц' }) }}</div>
    <div class="w-100">{{ form_widget(form.percent, { label : 'Процент' }) }}</div>

</div>

